#navbar {
  height: 60px;
  background-image: url(https://c8.alamy.com/comp/MTXCH6/hi-tech-abstract-background-cityscape-of-skyscrapers-horizontal-MTXCH6.jpg);
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 9px;
  font-family: 'Acme', sans-serif;
  font-size: 25px;
  border: 2px solid black;
}

li {
  display: inline;
  padding: 20px;
}


#welcome-section {
  height: 350px;
  background-image:
  url(https://as2.ftcdn.net/jpg/02/50/67/67/500_F_250676724_Xx8JgtbStpHJU2k6c44pW01Fo7iHev42.jpg);
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 50px;
  
}
#box {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 2px;
  background-color: rgba(250, 111, 229, 0.8);
  height: 250px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
  
h1 {
  font-family: 'Acme', sans-serif;
  font-size: 50px;
  
  
}

h2 {
  font-family: 'Acme', sans-serif;
  font-size: 30px;
}

#projects {
  border: 2px solid black;
  height: 500px;
  background-image: url(https://ak8.picdn.net/shutterstock/videos/11223608/thumb/1.jpg);
  padding: 20px;
  color: white;
  text-align: center;
}

#projects-section-header {
 color: white;
 font-size: 40px;
 border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 9px;
  background-color: rgba(250, 111, 229, 0.7);
 
}

.row {
  display:flex;
  justify-content: center;
  flex-direction:row;
  width:100%;
  margin-top:35px;
  padding-left: 27px;
  
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#contact {
  color: white;
  font-size: 25px;
  padding-top: 40px;
  height: 400px;
  background-image: url(https://elements-cover-images-0.imgix.net/386f6039-5d38-4f48-ace5-16145e58d20f?auto=compress%2Cformat&fit=max&w=710&s=da4f8cfd9edba101af54c0d33aa1217a);
  text-align: center;
}

#box2 {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 9px;
  background-color: rgba(250, 111, 229, 0.7);
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#contact-links {
  height: 200px;
  padding: 40px;
  justify-content: center;
  display: flex;
  justify-content: flex-center;
  color: white;
  display: flex;
  justify-content: space-evenly;
  
 
}
a { 
  color: white;
  text-decoration: none;
 
}

footer {
  background-image: url(https://c8.alamy.com/comp/MTXCH6/hi-tech-abstract-background-cityscape-of-skyscrapers-horizontal-MTXCH6.jpg);
  height: 80px;
}